@import "../../sass/variables.scss";

.form-wrapper {
  padding: 92px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 16px;
  border: solid 2px black;
  border-radius: 0.4em;
  background-color: $main-brand;
}

.form-header {
  font-size: 1.5em;
}

.form-side-by-side {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 10px;
}

.form--left-side, .form--right-side {
  width: 49%;
  padding: 8px;
}

.data-category {
  font-size: 1.2em;
  background-color: $light-accent;
  margin-bottom: 16px;
}

.field--title {
  display: flex;
  padding-bottom: 4px;
}

.field--input {
  width: 100%;
  padding: 4px;
  border-radius: 0.4em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.text-area {
  display: flex;
  flex-direction: column;
}

.date-input {
  padding: 2px;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator{
  cursor: pointer;
  filter: invert(1);
}

input,
label 
{
  color: white !important;
}

.align-left {
  text-align: left;
}

button {
  margin: 8px;
  font-size: 1.1em;
}

.property {
  color: $light-accent;
  font-weight: bold;
  font-size: 1.2em;
}

.value {
  color: $light-shade;
  font-size: 1.2em;
}