@import 'src/sass/variables';

.App {
  text-align: center;
  color: white;
}

.form-container {
  animation-name: fade-in;
  animation-duration: 300ms;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}
  
html, body { height: 100%; background-color: $light-brand; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

input, select, textarea, option {
  color: white;
  background-color: $main-brand;
}

.submit-button {
  font-size: 1.1em;
  align-self: center;
}

.button {
  background: $light-accent;
  box-shadow:inset 0px 34px 0px -24px darken($light-accent, 6%);
  background-color: $light-accent;

  color: white;
  padding: 8px 16px;
  border-radius: 40px;
  border: none;

  &:focus{
    outline: none;
  }
  &:hover{
    background-color: darken($light-accent, 10%);
    cursor: pointer;
  }
  &:disabled{
    box-shadow:inset 0px 34px 0px -24px darken($dark-shade, 6%);
    background-color: $dark-shade;
    cursor: not-allowed;
  }   
  &.--black{
    background-color: #2d2d2d;
  }
  &.--full{
    width: 100%;
  }
}